<% include partials/header%>

<div class="container">
  <header class='jumbotron'>
    <h1>Landing!</h1>
  </header>





<p>Welcome</p>

<a href="/campgrounds">view campgrounds</a>
</div>
<% include partials/footer%>
