<% include partials/header %>
<h1> Create a new campground</h1>

<form class="" action="/campgrounds" method="post">
    <input type="text" name="name" value="name">
    <input type="text" name="image" value="image url">
    <button >submit</button>
</form>

<a href="/campgrounds">back</a>
<% include partials/footer %>
